@font-face {
  font-family: 'roboto-slab';
  src:
    url('../fonts/robotoslab-regular.woff2') format('woff2'),
    url('../fonts/robotoslab-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-slab';
  src:
    url('../fonts/robotoslab-medium.woff2') format('woff2'),
    url('../fonts/robotoslab-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-slab';
  src:
    url('../fonts/robotoslab-bold.woff2') format('woff2'),
    url('../fonts/robotoslab-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
