.footer {
  display: block;
  width: 100%;
  height: auto;
  background: var(--red);
  padding: 60px 0px;
  border-radius: 50px 50px 0px 0px;
  border-top: 2px solid var(--green);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    padding: 0px 50px;
  }

  .logo {
    width: 230px;
    gap: 15px;
    margin: 0;
  }

  @media (max-width: 1439px) {
    padding: 40px 0px;

    .container {
      padding: 0px 20px;
    }

    .logo {
      width: 180px;
      gap: 20px;
    }
  }

  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
      gap: 50px;
    }
    .logo {
      order: 2;
    }
  }
}

.copy {
  display: block;
  width: 100%;
  max-width: 380px;
  @media (max-width: 1439px) {
    font-size: 12px;
    max-width: 324px;
  }
  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    order: 3;
    text-align: center;
  }
}

.footer-menu {
  display: flex;
  position: relative;
  align-items: flex-end;
  width: 100%;
  max-width: 380px;
  flex-direction: column;
  gap: 20px;
  li {
    text-align: right;
    a {
      text-align: right;
      font-size: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      @media (hover: hover) {
        &:hover {
          border-bottom: 1px solid var(--white);
        }
      }
    }
  }

  @media (max-width: 1439px) {
    max-width: 324px;
    gap: 14px;
    li {
      a {
        font-size: 14px;
      }
    }
  }

  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    order: 1;
    max-width: 282px;
    align-items: center;
    justify-content: center;
    gap: 16px;
    li {
      text-align: center;
      a {
        font-size: 16px;
      }
    }
  }
}
