.footer {
  display: block;
  width: 100%;
  height: auto;
  min-height: 240px;
  background: var(--red);
  padding: 65px 0px 62px 0px;
  border-radius: 50px 50px 0px 0px;
  border-top: 2px solid var(--green);
}
