.footer {
  display: block;
  width: 100%;
  height: auto;
  background: var(--red);
  padding: 60px 0px;
  border-radius: 50px 50px 0px 0px;
  border-top: 2px solid var(--green);
  @media (max-width: 1023px) {
    padding: 32px 0px 34px 0px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0px 4.86%;
    @media (max-width: 1023px) {
      padding: 0px 20px;
      gap: 60px;
    }
  }
}

.footer-logo {
  display: block;
  width: myclamp(232px, 232px, 1440px, 1440px);
  @media (max-width: 1023px) {
    order: 3;
    margin: 0 auto;
    margin-bottom: 90px;
  }
}

.footer__form {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 24px;
  @media (max-width: 1023px) {
    position: static;
    justify-content: center;
    align-items: center;
    gap: 0px;
    .copy {
      position: absolute;
      bottom: 0px;
    }
  }
}

.copy {
  display: block;
  width: 100%;
  max-width: 380px;
  @media (max-width: 1439px) {
    font-size: 12px;
    max-width: 324px;
  }
  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    order: 3;
    text-align: center;
  }
}

.footer-menu {
  display: flex;
  position: relative;
  align-items: flex-end;
  flex: 1;
  flex-direction: column;
  gap: 20px;
  li {
    text-align: right;
    a {
      text-align: right;
      font-size: 16px;
      border-bottom: 1px solid rgba(0, 0, 0, 0);
      @media (hover: hover) {
        &:hover {
          border-bottom: 1px solid var(--white);
        }
      }
    }
  }
  @media (max-width: 1023px) {
    order: 2;
    align-items: center;
    flex: none;
    width: 100%;
    li {
      text-align: center;
    }
  }
}

.hero-form {
  width: 330px;

  .hero-form__title {
    display: block;
    max-width: 320px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
    text-align: left;
  }

  button {
    display: flex;
    position: absolute;
    right: 5px;
    top: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 44px;
    height: 36px;
    border-radius: 12px;
    background: var(--red);
    transition: 0.3s;
  }

  @media (max-width: 1439px) {
    width: 295px;

    .hero-form__title {
      font-size: 14px;
      margin-bottom: 10px;
    }

    button {
      width: 40px;
      height: 32px;
      border-radius: 10px;
      img {
        margin-left: 2px;
      }
    }
  }
  @media (max-width: 1023px) {
    order: 1;
    position: static;
    gap: 0;
  }
}
