$popup_transition: 0.5s;

.body {
  &.locked {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.backdrop {
  transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 20px 10px 20px 10px;
  backdrop-filter: blur(5px);
  transition:
    opacity $popup_transition ease-in-out 0s,
    visibility $popup_transition ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    left: -20px;
    right: -20px;
    top: -50px;
    width: calc(100% + 40px);
    height: calc(100% + 70px);
    background: var(--black);
    opacity: 0.5;
    grid-area: 1 / 1 / 2 / 2;
    @supports (-webkit-touch-callout: none) and (-webkit-overflow-scrolling: touch) {
      content: none;
    }
  }
  @media (min-width: 1280px) {
    padding: 40px 10px 40px 10px;
    &:before {
      top: -80px;
      height: calc(100% + 120px);
    }
  }
}

.popup {
  position: relative;
  transition: $popup_transition;
  transform: translate(0px, 50px);
  opacity: 0;
  z-index: 1;
  user-select: none;
  width: 100%;
  pointer-events: none;
  &.visible {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.popup-close {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 100%;
  top: 0px;
  cursor: pointer;

  @media (max-width: 767px) {
    left: calc(100% - 32px);
    top: -32px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform: rotate(0deg);
    background: url('../img/svg/close.svg') no-repeat center center/cover;
  }

  &:hover {
    &:after {
      transform: rotate(90deg);
    }
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 18px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  user-select: none;
  background: var(--red);
  color: var(--white);
  border-radius: 20px;
  padding: 32px;
  @media (max-width: 499px) {
    padding: 32px 20px;
  }
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  pointer-events: all;

  .button {
    margin: 0 auto;
    margin-top: 20px;
  }
}

#subscribe-success {
  .title {
    font-size: 24px;
    font-family: var(--montserrat);
  }

  p {
    font-size: 14px;
    font-family: var(--montserrat);
  }

  .button {
    padding: 20px 32px;
    background: var(--white);
    border-radius: 50px;
    span {
      color: var(--black);
      transition: color 0.2s;
    }

    @media (hover: hover) {
      &:hover {
        span {
          color: var(--white);
        }
      }
    }
  }
}
