$popup_transition: 0.5s;

.body {
  &.locked {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.backdrop {
  transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 34px 10px 20px 10px;
  backdrop-filter: blur(5px);
  transition:
    opacity $popup_transition ease-in-out 0s,
    visibility $popup_transition ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    left: -20px;
    right: -20px;
    top: -50px;
    width: calc(100% + 40px);
    height: calc(100% + 70px);
    background: rgba(0, 0, 0, 0.4);
    grid-area: 1 / 1 / 2 / 2;
  }
}

.popup {
  position: relative;
  transition: $popup_transition;
  transform: translate(0px, 50px);
  opacity: 0;
  z-index: 1;
  user-select: none;
  width: 100%;
  pointer-events: none;
  &.visible {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.popup-close {
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  left: 100%;
  top: 0px;
  cursor: pointer;

  @media (max-width: 767px) and (orientation: portrait) {
    left: calc(100% - 32px);
    top: -32px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform: rotate(0deg);
    background: url('../img/svg/close.svg') no-repeat center center/cover;
  }

  &:hover {
    &:after {
      transform: rotate(90deg);
    }
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 18px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 375px;
  user-select: none;
  background: var(--red);
  color: var(--white);
  border-radius: 20px;
  padding: 32px;
  @media (max-width: 499px) {
    padding: 32px 20px;
  }
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  pointer-events: all;

  .button {
    margin: 0 auto;
    &.white {
      &:before,
      &:after {
        background: var(--black);
      }
    }
  }
}

.popup-title,
.popup-subtitle,
.popup-text {
  display: block;
  width: 100%;
  text-align: center;
  font-family: var(--font);
  &.ta--l {
    text-align: left;
  }
}
.popup-title {
  font-size: 24px;
  line-height: 1.24;
  font-weight: 500;
  &.big {
    font-size: 32px;
    line-height: 1.1;
  }
}

.popup-subtitle {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
  &.big {
    font-size: 20px;
  }
}

.popup-text {
  font-size: 12px;
  line-height: 1.4;
  font-weight: 400;
  &.medium {
    font-size: 14px;
  }
  &.big {
    font-size: 24px;
  }
}

.popup-link {
  display: block;
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.1;
  font-weight: 500;
  color: var(--yellow);
  cursor: pointer;
  margin: 0 auto;
  margin-top: 10px;
  &.under {
    text-decoration: none !important;
    border-bottom: 1px solid var(--yellow);
  }
  &.ta--l {
    margin-left: 0px;
  }
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

.register-check-list {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-direction: column;
  gap: 20px;
  font-family: var(--font);
  text-align: left;
  li {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    font-weight: 500;
    @media (max-width: 767px) {
      font-size: 14px;
    }
    ul {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 5px;
      margin: 5px 0px;
      padding-left: 5px;

      li {
        padding-left: 0px;
        list-style: disc;
        list-style-position: inside;
        font-size: 12px;
        span {
          font-size: 16px;
        }
      }
    }

    img {
      position: absolute;
      width: 32px;
      height: 32px;
      left: 0px;
      top: -5px;
      @media (max-width: 767px) {
        width: 25px;
        height: 25px;
        left: 0px;
        top: -6px;
      }
    }
  }
}

.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  img {
    width: 100%;
  }

  span {
    font-size: 12px;
    opacity: 0.7;
  }
}

#subscribe-success {
  max-width: 360px;
  .title {
    font-size: 24px;
    font-family: var(--montserrat);
  }

  p {
    font-size: 14px;
    font-family: var(--montserrat);
  }

  .button {
    padding: 20px 32px;
    background: var(--white);
    border-radius: 50px;
    span {
      color: var(--black);
      transition: color 0.2s;
    }

    @media (hover: hover) {
      &:hover {
        span {
          color: var(--white);
        }
      }
    }
  }
}

#auth {
  max-width: 375px;
  background: var(--red);
  border-radius: 24px;
  padding: 0;
  .tabs {
    overflow: hidden;
  }
  .tab {
    background: var(--red);
    border-radius: 0px 0px 24px 24px;
  }

  .form {
    padding: 24px 40px 36px 40px;
  }

  [data-tab='auth-register'] [data-tab='1'] .button[type='submit'] {
    margin-top: 14px;
  }
}

#add-register-info {
  max-width: 375px;
  gap: 10px;
  margin-top: 50px;
  .button[type='submit'] {
    margin-top: 20px;
  }
}

#arrows-exchange,
#arrows-exchange-error,
#arrows-exchange-success {
  margin-top: 25px;
  .arrows-exchange__image {
    width: 100px;
    margin-top: -82px;
  }
  form {
    .button {
      margin-top: 14px;
    }
  }
  .buttons {
    margin-top: 14px;
  }
  .popup-text {
    font-size: 14px;
    max-width: 280px;
  }
}

#cheque {
  .buttons {
    margin-top: 20px;
    gap: 20px;
  }
}
