.section--game {
  display: flex;
  background: url('../img/bg.webp') no-repeat center center/cover;
  margin-top: 64px;
  height: auto;
  min-height: calc(100vh - 64px);
  padding: 50px;

  .container {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0;
  }

  @media (max-width: 1439px) {
    margin-top: 50px;
    min-height: calc(100vh - 50px);
  }

  @media (max-width: 1279px) {
    margin-top: 40px;
    min-height: calc(100vh - 50px);
    padding: 32px;
  }
  @media (max-width: 1023px) {
    margin-top: 0px;
  }
  @media (max-width: 767px) {
    padding: 20px;
  }
}

.game__button {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  top: 0px;
  z-index: 5;
  font-size: 0px;
  color: rgba(0, 0, 0, 0);

  &.go-back {
    left: 0px;
    border-radius: 70px;
    background: var(--white) url('../img/svg/arrow-left-green.svg') no-repeat center center;
    background-size: 20px 20px;
  }

  &.help {
    right: 0px;
    border-radius: 20px;
    background: var(--white) url('../img/svg/lamp.svg') no-repeat center center;
    background-size: 40px 50px;
  }

  @media (max-width: 1439px) {
    width: 60px;
    height: 60px;
    &.go-back {
      background-size: 20px 20px;
    }

    &.help {
      border-radius: 16px;
      background-size: 30px 40px;
    }
  }
  @media (max-width: 767px) {
    width: 50px;
    height: 50px;
    &.help {
      border-radius: 14px;
      background-size: 25px 35px;
    }
  }
}

.game {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow: hidden;
}
