.section--soon {
  display: flex;
  flex-direction: column;
  background-size: auto 89svh;
  height: 100svh;
  min-height: 780px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 90%;
    background: url('../img/hero/family.webp') no-repeat center top/cover;
  }

  @media (max-width: 1439px) {
    min-height: 600px;
    max-height: 720px;
  }

  @media (max-width: 1279px) {
    max-height: 620px;
  }

  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    height: auto;
    min-height: 1px;
    max-height: none;

    &:before {
      height: 382px;
      background: url('../img/hero/family-mobil.webp') no-repeat right bottom/cover;
    }

    .container {
      max-width: 375px;
    }
  }
}

.logo {
  display: flex;
  position: relative;
  width: 450px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 30px;
  margin-top: 33px;
  margin-left: 90px;

  img {
    &:last-child {
      width: calc(100% - 10px);
    }
  }

  @media (min-width: 1600px) {
    margin-left: 0px;
  }

  @media (max-width: 1439px) {
    width: 370px;
    margin-left: 50px;
  }

  @media (max-width: 1279px) {
    width: 320px;
    gap: 20px;
  }

  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    width: 204px;
    gap: 14px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 246px;
  }
}

.dog {
  position: absolute;
  width: 17.777777%;
  left: 50%;
  top: 50%;
  transform: translate(-60%, -68%);
  img {
    position: relative;
    width: 100%;
    animation: floatY 4s ease-in-out infinite;
    z-index: 1;
  }

  @media (min-width: 1600px) {
    transform: translate(-60%, -55%);
  }
  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    width: 116px;
    left: 50%;
    top: 165px;
    transform: translate(-140%, 0%);
    img {
      position: relative;
      width: 100%;
      animation: floatY 4s ease-in-out infinite;
      z-index: 1;
    }
  }
}

@keyframes floatY {
  0% {
    transform: translateY(-5%);
  }
  50% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(-5%);
  }
}

.hero-content {
  position: relative;
  z-index: 2;
  margin-top: auto;
  background: var(--red);
  padding-bottom: 70px;
  padding-top: 40px;

  &:before {
    content: '';
    width: 102%;
    min-width: 900px;
    height: 120px;
    background: url('../img/svg/hero-red-border.svg') no-repeat center bottom;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: calc(100% - 1px);
  }
  .container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
    align-content: flex-end;
    gap: 42px;
  }

  @media (max-width: 1439px) {
    padding-bottom: 40px;
    padding-top: 0px;
    .container {
      gap: 32px;
    }
  }

  @media (max-width: 1279px) {
    .container {
      gap: 24px;
    }
  }

  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    padding-bottom: 60px;
    .container {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      align-content: center;
    }
    &:before {
      transform: translate(-55%, 0%);
    }
  }
}

.hero-products {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  width: 500px;
  height: 120px;

  img {
    margin-bottom: -3%;
    &:first-child {
      width: 35.4%;
    }
    &:last-child {
      width: 62.2%;
    }
  }

  @media (max-width: 1439px) {
    width: 400px;
  }

  @media (max-width: 1279px) {
    width: 320px;
  }

  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    display: none;
  }
}

.hero-timer {
  text-align: center;
  width: 378px;
  margin-top: -110px;

  .title {
    display: inline-block;
    width: auto;
    line-height: 0.8;
    margin-bottom: 20px;
    padding: 8px 16px 11px 16px;
    border-radius: 10px;
    background: rgba(136, 191, 74, 0.8);
  }

  @media (max-width: 1439px) {
    width: 340px;
    margin-top: -88px;

    .title {
      margin-bottom: 10px;
      padding: 7px 14px 10px 14px;
      border-radius: 8px;
    }
  }

  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    width: 100%;
    max-width: 380px;
    margin-top: -70px;
  }
}

.timer {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 10px;
  .timer--inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    border-radius: 16px;
    padding: 10px;
    color: var(--black);

    span {
      font-size: 14px;
      line-height: 1;
    }

    strong {
      font-size: 48px;
      line-height: 1;
      color: var(--red);
    }
  }

  @media (max-width: 1439px) {
    gap: 8px;
    .timer--inner {
      border-radius: 14px;
      gap: 4px;

      span {
        font-size: 12px;
      }

      strong {
        font-size: 42px;
      }
    }
  }
}

.hero-form {
  width: 330px;
  margin: 0 auto;
  margin-top: 20px;

  .hero-form__title {
    display: block;
    max-width: 320px;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 14px;
    text-align: left;
  }

  button {
    display: flex;
    position: absolute;
    right: 5px;
    top: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 44px;
    height: 36px;
    border-radius: 12px;
    background: var(--red);
    transition: 0.3s;
  }

  @media (max-width: 1439px) {
    width: 295px;
    margin-top: 12px;

    .hero-form__title {
      font-size: 14px;
      margin-bottom: 10px;
    }

    button {
      width: 40px;
      height: 32px;
      border-radius: 10px;
      img {
        margin-left: 2px;
      }
    }
  }
}

.house {
  display: flex;
  flex: 1;
  max-width: 500px;
  flex-shrink: 0;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;

  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    width: 100%;
    max-width: 380px;
    height: 252px;
    min-height: 252px;
  }
}

.house__image {
  position: absolute;
  z-index: 1;
  left: 100%;
  bottom: 24px;
  width: 433px;
  transform: translate(-354px, 0px);

  @media (max-width: 1439px) {
    width: 328px;
  }

  @media (max-width: 1279px) {
    left: 0%;
    transform: translate(0px, 0px);
  }
  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    width: auto;
    height: calc(252px - 24px);
    transform: translate(-28px, 0px);
  }
}

.fsk {
  position: relative;
  min-width: 260px;
  z-index: 2;
  background: var(--green);
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: 8px 30px 0px 30px;
  margin-left: auto;
  margin-right: -30px;
  margin-bottom: 24px;
  text-align: center;
  @media (max-width: 1439px) {
    margin-right: 0px;
  }
  @media (max-width: 1279px) {
    padding: 8px 20px 0px 20px;
    margin-right: -40px;
  }
  @media (max-width: 1279px) and (orientation: portrait), (max-width: 1023px) {
    padding: 8px 36px 0px 36px;
    margin-right: -32px;
  }
  img {
    height: 48px;
    margin-top: 5px;
    margin-bottom: -24px;
  }

  span {
    display: block;
    font-size: 12px;
    font-weight: 700;
  }

  p {
    font-size: 32px;
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
  }
}
