.winners {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1164px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 40px;
  padding-top: 30px;
}
