.section--words {
  color: var(--white);
}

.words-headlines {
  background: url('../img/bg.webp') no-repeat center bottom/cover;
  padding-bottom: 184px;
  padding-top: 94px;
  mask-image: linear-gradient(#000 0 0), url('../img/words/mask-top.svg'), url('../img/words/mask-bottom.svg');
  mask-repeat: no-repeat, no-repeat, no-repeat;
  mask-size:
    100% calc(100% + 2px),
    100% 121px,
    100% 112px;
  mask-position:
    center,
    center top,
    center calc(100% + 1px);
  mask-composite: exclude, exclude;

  .container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 30px;

    .image {
      display: block;
      position: relative;
      width: 280px;
      height: 280px;
      border-radius: 280px;
      overflow: hidden;
      box-shadow: 0px 16px 20px rgba(0, 67, 41, 0.251);
      img {
        width: 100%;
      }
    }
  }
}

.words-banner {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 50px;
  width: calc(100% - 40px);
  max-width: 1400px;
  background: var(--red) url('../img/words/banner-bg.webp') no-repeat center center/cover;
  margin: 0 auto;
  margin-top: -120px;
  padding: 60px;
  border-radius: 50px;
}

@media (max-width: 1439px) {
  .words-headlines {
    mask-size:
      100% calc(100% + 2px),
      1440px 121px,
      1440px 112px;

    .container {
      gap: 30px;

      .image {
        width: 200px;
        height: 200px;
      }
    }
  }

  .words-banner {
    gap: 40px;
    max-width: 1160px;
    padding: 50px;
  }
}

@media (max-width: 1279px) {
  .words-headlines {
    padding-top: 80px;
    .container {
      gap: 30px;

      .image {
        margin-top: 10px;
      }
    }
  }

  .words-banner {
    max-width: 984px;
  }
}

@media (max-width: 1023px) {
  .words-banner {
    max-width: 728px;
  }
}

@media (max-width: 767px) {
  .words-headlines {
    padding-top: 50px;
    padding-bottom: 220px;
    mask-size:
      100% calc(100% + 2px),
      1024px 121px,
      1024px 112px;

    .container {
      .image {
        width: 280px;
        height: 280px;
      }
      .title {
        max-width: 200px;
      }
    }
  }

  .words-banner {
    gap: 40px;
    background: var(--red);
    margin-top: -170px;
    padding: 24px;
    border-radius: 30px;
    .title {
      display: block;
      position: relative;
      font-size: 28px;
      &:before {
        content: '';
        display: block;
        margin: 20px auto 40px auto;
        flex-shrink: 0;
        width: 136px;
        height: 20px;
        background: url('../img/svg/fork.svg') no-repeat center center/contain;
        transform: rotate(-5deg);
      }
    }
    .button {
      width: 100%;
    }
  }
}
