.section--game {
  display: flex;
  background: url('../img/bg.webp') no-repeat center center/cover;
  margin-top: 64px;
  height: auto;
  min-height: calc(100vh - 64px);
  padding: 50px;

  &.no--bg {
    background: none;
  }

  .container {
    position: relative;
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    padding: 0;
  }

  @media (max-width: 1439px) {
    margin-top: 50px;
    min-height: calc(100vh - 50px);
  }

  @media (max-width: 1279px) {
    margin-top: 40px;
    min-height: calc(100vh - 50px);
    padding: 32px;
  }
  @media (max-width: 1023px) {
    margin-top: 0px;
  }
  @media (max-width: 767px) {
    padding: 20px;
  }
}

.game__button {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
  position: absolute;
  overflow: hidden;
  top: 0px;
  z-index: 5;
  font-size: 0px;
  color: rgba(0, 0, 0, 0);
  transition: background 0.3s;
  &.go-back {
    left: 0px;
    border-radius: 70px;
    background: var(--white) url('../img/svg/arrow-left-green.svg') no-repeat center center;
    background-size: 20px 20px;
    @media (hover: hover) {
      &:hover {
        background: var(--black) url('../img/svg/arrow-left.svg') no-repeat center center;
      }
    }
  }

  &.help {
    right: 0px;
    border-radius: 20px;
    background: var(--white) url('../img/svg/lamp.svg') no-repeat center center;
    background-size: 40px 50px;
    @media (hover: hover) {
      &:hover {
        background: var(--invalid) url('../img/svg/lamp.svg') no-repeat center center;
      }
    }
  }

  @media (max-width: 1439px) {
    width: 60px;
    height: 60px;
    &.go-back {
      background-size: 20px 20px;
    }

    &.help {
      border-radius: 16px;
      background-size: 30px 40px;
    }
  }
  @media (max-width: 767px) {
    width: 50px;
    height: 50px;
    &.help {
      border-radius: 14px;
      background-size: 25px 35px;
    }
  }
}

.game {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
}

/*НЕ ВХОДИТ В ПРОД*/

.game-canvas {
  display: flex;
  position: relative;
  width: 100%;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 20px;
}

.game-matrix {
  user-select: none;
  margin: 0px 30px;
  td {
    width: 70px;
    height: 70px;
    padding: 3px;
    pointer-events: none;
    opacity: 0;
    &.letter {
      opacity: 1;
      &.active {
        span {
          font-size: 60px;
        }
      }
    }
    span {
      display: flex;
      position: relative;
      width: 70px;
      height: 70px;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: var(--white);
      border-radius: 10px;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
      color: var(--black);
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1.2;
      transition: font-size 0.3s;
      font-size: 0px;
    }
  }
}

.game-pad {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 282px;
  height: 282px;
  user-select: none;
  margin: 84px 30px;
  &.count--3 {
    li {
      &:nth-child(1) {
        transform: translate(22%, 30%);
      }
      &:nth-child(3) {
        transform: translate(-22%, 30%);
      }
      &:nth-child(8) {
        transform: translate(0%, 0%);
      }
    }
  }
  &:before {
    content: '';
    display: block;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 300px;
    background: var(--white);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.251);
  }
  li {
    position: relative;
    width: 94px;
    height: 94px;
    z-index: 2;
    flex-shrink: 0;
    &[data-letters] {
      display: block;
      position: absolute;
      width: auto;
      height: auto;
      padding: 12px 24px;
      border-radius: 20px;
      margin: 0;
      top: calc(100% + 20px);
      font-size: 40px;
      font-weight: 500;
      line-height: 1;
      text-transform: uppercase;
      background: var(--green);
    }
    &:nth-child(1) {
      transform: translate(22%, 22%);
    }
    &:nth-child(2) {
      transform: translate(0%, -8%);
    }
    &:nth-child(3) {
      transform: translate(-22%, 22%);
    }
    &:nth-child(4) {
      transform: translate(-10%, 0%);
    }
    &:nth-child(6) {
      transform: translate(10%, 0%);
    }
    &:nth-child(7) {
      transform: translate(22%, -22%);
    }
    &:nth-child(8) {
      transform: translate(0%, 8%);
    }
    &:nth-child(9) {
      transform: translate(-22%, -22%);
    }
    span {
      display: flex;
      position: relative;
      width: 94px;
      height: 94px;
      justify-content: center;
      align-items: center;
      align-content: center;
      border-radius: 94px;
      color: var(--black);
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      font-size: 60px;
      &:before {
        content: '';
        display: block;
        z-index: 0;
        position: absolute;
        width: 72%;
        height: 72%;
        border-radius: 300px;
        background: var(--green);
        opacity: 0;
        z-index: -1;
      }
    }
    &.active {
      span {
        color: var(--white);
        &:before {
          opacity: 1;
        }
      }
    }
    button {
      display: flex;
      position: relative;
      width: 94px;
      height: 94px;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
  }
}
