.section--soon {
  display: flex;
  flex-direction: column;
  height: auto;
}

.hero-images {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.family {
  width: 100%;
}

.logo {
  display: block;
  position: absolute;
  width: 31.25%;
  left: 3.583333vw;
  top: 2.5vw;
  z-index: 1;
  @media (max-width: 600px) {
    left: 6.4%;
    top: 6.4vw;
    width: 54.4%;
  }
}

.dog {
  position: absolute;
  width: 19.583333%;
  left: 31.7%;
  top: 14vw;
  transform: rotate(-2.5deg);
  z-index: 2;
  @media (max-width: 600px) {
    display: none;
  }
}

.smoke {
  display: block;
  position: absolute;
  width: 14.140277%;
  left: 57.027777vw;
  top: 17.166666vw;
  z-index: 1;
  filter: blur(4px);
  @media (max-width: 600px) {
    width: 25.140277%;
    left: 50.027777vw;
    top: 60.166666vw;
  }
}

.hero-content {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  gap: myclamp(34px, 42px, 1440px, 2560px);
  position: relative;
  z-index: 2;
  background: var(--red);
  padding-top: myclamp(20px, 20px, 1440px, 2560px);
  padding-bottom: myclamp(40px, 80px, 1440px, 2560px);
  padding-left: 3%;
  padding-right: 3%;

  @media (max-width: 1365px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: 1023px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0px;
    padding-top: 20px;
    padding-bottom: 80px;
  }

  > * {
    z-index: 2;
  }

  &:before {
    content: '';
    width: 102%;
    min-width: 1280px;
    height: 120px;
    background: url('../img/svg/hero-red-border.svg') no-repeat center bottom;
    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: calc(100% - 1px);
    z-index: 1;
    @media (max-width: 1023px) {
      min-width: 1024px;
    }
    @media (max-width: 600px) {
      transform: translate(-54%, 0%);
    }
  }
}

.hero-products {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  width: 34.72%;
  height: 120px;

  @media (max-width: 1023px) {
    display: none;
  }

  img {
    margin-bottom: -4.5%;
    &:first-child {
      width: 35.4%;
    }
    &:last-child {
      width: 62.2%;
    }
  }
}

.hero-timer {
  text-align: center;
  width: myclamp(340px, 378px, 1440px, 2560px);

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: myclamp(38px, 42px, 1440px, 2560px);
    padding-bottom: myclamp(2px, 4px, 1440px, 2560px);
    margin-bottom: myclamp(10px, 10px, 1440px, 2560px);
    text-align: center;
    border-radius: myclamp(10px, 10px, 1440px, 2560px);
    background: var(--green);
  }

  @media (max-width: 1023px) {
    width: 100%;
    max-width: 340px;
    margin-bottom: 10px;
  }

  @media (max-width: 600px) {
    margin-top: -85px;
  }
}

.timer {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: myclamp(10px, 10px, 1440px, 2560px);
  .timer--inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    background: var(--white);
    border-radius: myclamp(16px, 16px, 1440px, 2560px);
    padding: myclamp(8px, 10px, 1440px, 2560px);
    color: var(--black);

    span {
      font-size: myclamp(12px, 14px, 1440px, 2560px);
      line-height: 1;
    }

    strong {
      font-size: myclamp(44px, 48px, 1440px, 2560px);
      line-height: 1;
      color: var(--red);
      @media (max-width: 1023px) {
        padding-top: 4px;
      }
    }
  }
}

.house {
  display: flex;
  flex: 1;
  flex-shrink: 0;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  align-content: flex-end;
  left: 4.5vw;

  @media (max-width: 1279px) {
    left: 0px;
  }

  @media (max-width: 1023px) {
    flex: none;
    width: 100%;
    height: 252px;
    max-width: 340px;
  }
}

.house__image {
  position: absolute;
  z-index: 1;
  left: 0%;
  bottom: 0vw;
  width: 29vw;
  @media (max-width: 1279px) {
    left: auto;
    right: -30px;
    max-width: 110%;
  }
  @media (max-width: 1023px) {
    right: auto;
    left: -10px;
    width: 410px;
    max-width: 410px;
  }
}

.fsk {
  display: flex;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-bottom: 0.6vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 2;
  background: var(--green);
  border-radius: myclamp(12px, 12px, 1440px, 2560px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  padding: myclamp(8px, 8px, 1440px, 2560px);
  padding-bottom: myclamp(26px, 30px, 1440px, 2560px);
  padding-right: 11vw;
  left: 8.8vw;
  text-align: center;
  @media (max-width: 1365px) {
    padding-right: 13vw;
  }

  @media (max-width: 1279px) {
    width: 220px;
    left: 0px;
    padding-right: 30px;
    margin-right: -30px;
  }

  @media (max-width: 1023px) {
    width: 270px;
    left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: -30px;
    padding-bottom: 34px;
    margin-bottom: 0px;
  }

  img {
    position: absolute;
    transform: translate(0%, -50%);
    top: 100%;
    height: myclamp(40px, 48px, 1440px, 2560px);
    @media (max-width: 1023px) {
      height: 48px;
    }
  }

  span {
    display: block;
    font-size: myclamp(10px, 12px, 1440px, 2560px);
    font-weight: 700;
    @media (max-width: 1023px) {
      font-size: 12px;
    }

    &.absolute {
      position: absolute;
      top: 132%;
      font-size: myclamp(12px, 16px, 1440px, 2560px);
      @media (max-width: 1023px) {
        font-size: 14px;
      }
    }
  }

  p {
    font-size: myclamp(26px, 32px, 1440px, 2560px);
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 1023px) {
      font-size: 32px;
    }
  }
}
