.section--winn {
  padding: 13.5vw 0px 110px 0px;
  background: url('../img/how-to-winn/bg.svg') no-repeat center center/cover;
  mask-image: linear-gradient(#000 0 0), url('../img/how-to-winn/mask-top.svg');
  mask-repeat: no-repeat, no-repeat;
  mask-size:
    100% calc(100% + 2px),
    100% 7.638888vw;
  mask-position:
    center,
    center -2px;
  mask-composite: exclude, exclude;
  z-index: 1;
  margin-top: -7.2vw;
  color: var(--white);

  .container {
    max-width: 1440px;
    @media (max-width: 1439px) {
      max-width: 1200px;
    }
  }

  &:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 3;
    width: 100%;
    height: 100px;
    background: url('../img/how-to-winn/mask-bottom.svg') no-repeat center center;
    background-size: 100% 100%;
    pointer-events: none;
  }

  @media (max-width: 1439px) {
    mask-size:
      100% calc(100% + 2px),
      100% 7.638888vw;
  }

  @media (max-width: 1279px) {
    margin-top: -70px;
    padding: 190px 0px 80px 0px;
    &:after {
      background-size: 1280px 100%;
    }
  }

  @media (max-width: 1023px) {
    margin-top: -50px;
    padding: 100px 0px 80px 0px;
  }

  @media (max-width: 767px) {
    margin-top: 0px;
    padding: 70px 0px 60px 0px;
    mask-size:
      100% calc(100% + 2px),
      105vw 25px;

    &:after {
      background-size: 768px 100%;
    }

    .title {
      flex-direction: column;
      &:after {
        content: none;
      }
      &:before {
        width: 90px;
        height: 20px;
        background: url('../img/svg/fork.svg') no-repeat center center/contain;
      }
    }
  }
}

.how-to-winn {
  display: flex;
  position: relative;
  width: 100%;
  margin-top: 74px;
  flex-wrap: wrap;
  justify-content: flex-start;
  &.how-to-winn--sm {
    .swiper {
      overflow: visible;
    }

    .swiper-slide {
      h3 {
        min-height: 96px;
      }
    }
    @media (max-width: 767px) {
      padding: 0px;
      .swiper-slide {
        h3 {
          min-height: 1px;
        }
      }
    }
  }
  .swiper-slide {
    display: flex;
    position: relative;
    width: 25%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    gap: 16px;
    text-align: center;

    > * {
      z-index: 1;
    }

    img {
      position: relative;
      width: 100%;
      max-width: 242px;
      margin: 0 auto;
      margin-bottom: -50px;
      z-index: 0;
    }

    h3 {
      font-size: 24px;
      text-transform: uppercase;
    }

    .button {
      min-width: 190px;
      margin-top: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 90px;
      height: 20px;
      left: 100%;
      top: 32%;
      transform: translate(-50%, 0%);
      background: url('../img/svg/fork.svg') no-repeat center center/contain;
    }

    &:last-child {
      &:before {
        content: none;
      }
    }
    &:nth-child(3) {
      &:before {
        transform: translate(-60%, 0%);
      }
    }
  }
}

@media (max-width: 1439px) {
  .how-to-winn {
    margin-top: 60px;
    .swiper-slide {
      gap: 16px;
      img {
        max-width: 200px;
      }

      h3 {
        font-size: 20px;
      }

      &:before {
        width: 80px;
        height: 14px;
      }
    }
  }
}

@media (max-width: 1279px) {
  .how-to-winn {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px 20px;
    .swiper {
      overflow: visible;
    }
    .swiper-slide {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.5s;
      img {
        max-width: 242px;
      }
      h3 {
        font-size: 24px;
      }
      &:before {
        transition: opacity 0.5s;
        opacity: 0;
      }
      &.swiper-slide-active,
      &.swiper-slide-active + .swiper-slide {
        opacity: 1;
        pointer-events: all;
      }
      &.swiper-slide-active {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .how-to-winn {
    width: calc(100% - 30px);
  }
}

@media (max-width: 767px) {
  .how-to-winn {
    width: 94%;
    max-width: 350px;
    margin-top: 30px;
    .arrow {
      top: 35%;
    }
    .swiper-slide {
      &:before {
        content: none;
      }
      &.swiper-slide-active + .swiper-slide {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
