.swiper {
  width: 100%;
}

.arrow {
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  @media (max-width: 1439px) {
    width: 50px;
    height: 50px;
  }
  @media (max-width: 1023px) {
    width: 40px;
    height: 40px;
  }
  border-radius: 60px;
  background: var(--green);
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  z-index: 4;

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }

  &[data-arrow-prev] {
    left: 0px;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--green) url('../img/svg/arrow-left.svg') no-repeat center center;
    &.red {
      background: var(--red) url('../img/svg/arrow-left.svg') no-repeat center center;
    }
    &.white {
      background: var(--white) url('../img/svg/arrow-left-red.svg') no-repeat center center;
    }
    @media (hover: hover) {
      &:hover {
        background: var(--black) url('../img/svg/arrow-left.svg') no-repeat center center;
      }
    }
  }
  &[data-arrow-next] {
    right: 0px;
    top: 50%;
    transform: translate(50%, -50%);
    background: var(--green) url('../img/svg/arrow-right.svg') no-repeat center center;
    &.red {
      background: var(--red) url('../img/svg/arrow-right.svg') no-repeat center center;
    }
    &.white {
      background: var(--white) url('../img/svg/arrow-right-red.svg') no-repeat center center;
    }
    @media (hover: hover) {
      &:hover {
        background: var(--black) url('../img/svg/arrow-right.svg') no-repeat center center;
      }
    }
  }
}

.swiper-pagination {
  display: flex;
  position: relative;
  width: 364px !important;
  max-width: calc(100% - 40px);
  height: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
  top: 0px !important;
  left: 0px !important;
  bottom: 0px !important;
  transform: translate(0%, 0%) !important;
  gap: 2px;
  overflow: visible;
  @media (max-width: 767px) {
    margin-top: 14px;
  }

  .swiper-pagination-bullet {
    flex: 1;
    width: auto !important;
    height: 8px !important;
    border-radius: 0px !important;
    background: rgba(255, 255, 255, 0.5);
    transform: scale(1) translate(0px, 0px) !important;
    left: 0px !important;
    margin: 0 !important;
    opacity: 1;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0);
    transition: background 0.3s !important;

    &:first-child {
      border-radius: 20px 0px 0px 20px !important;
    }

    &:last-child {
      border-radius: 0px 20px 20px 0px !important;
    }

    &.swiper-pagination-bullet-active {
      background: rgba(255, 255, 255, 1);
    }
  }

  &.big {
    .swiper-pagination-bullet {
      width: 52px !important;

      &.swiper-pagination-bullet-active {
        background: #44caf6;
        box-shadow: inset 4px 4px 10px #00eaff;
      }

      @media (max-width: 767px) {
        width: 26px !important;
        height: 6px !important;
        box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.25);
      }
    }
  }
}
