:root {
  --font: 'roboto-slab', sans-serif;
  --montserrat: 'montserrat', sans-serif;
  --serif: 'robotoserif', sans-serif;

  --white: #ffffff;
  --grey: #eef2ec;
  --black: #000000;
  --yellow: #e9cc29;
  --green: #88bf4a;
  --green-dark: #5b941b;
  --red: #e7102e;
  --red-dark: #b10000;
  --red-light: #eb4561;
  --invalid: #ffe26b;
}

@import 'mixins';
@import 'reset';
@import 'preloader';
@import 'fonts';
@import 'tiography';
@import 'forms';
@import 'select';
@import 'buttons';
@import 'header';
@import 'tabs';
@import 'swiper';
@import 'accordeon';
@import 'section__hero';
@import 'section_how_to_winn';
@import 'section__prizes';
@import 'section__words';
@import 'section__markets';
@import 'section__winners';
@import 'section__faq';
@import 'section__soon';
@import 'section__game';
@import 'section__profile';
@import 'section__products';
@import 'soon';
@import 'popup';
@import 'dropzone';
@import 'footer';
