:root {
  --font: 'roboto-slab', sans-serif;

  --white: #ffffff;
  --black: #000000;
  --yellow: #e9cc29;
  --green: #88bf4a;
  --red: #e7102e;
  --invalid: #ff0100;

  --gradient: linear-gradient(90deg, #fffcb6, #fade79, #f2d344);
  --gradient-invers: linear-gradient(90deg, #f2d344, #fade79, #fffcb6);
}

@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'tiography';
@import 'forms';
@import 'buttons';
@import 'header';
@import 'swiper';
@import 'footer';
@import 'section__hero';
@import 'soon';
@import 'popup';
