:root {
  --font: 'roboto-slab', sans-serif;
  --montserrat: 'montserrat', sans-serif;

  --white: #ffffff;
  --black: #000000;
  --yellow: #e9cc29;
  --green: #88bf4a;
  --red: #e7102e;
  --invalid: #ffe26b;
}

@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'tiography';
@import 'forms';
@import 'buttons';
@import 'header';
@import 'swiper';
@import 'footer';
@import 'section__hero';
@import 'section__soon';
@import 'soon';
@import 'popup';
